/* ========= STYLE GUIDE ============
BLUE-TEAL #355C7D
DUSTY-PURPLE #6C5B7B
ROSE #C06C84
HOT-SALMON #F67280
PEACHY-BEIGE #F8B195 */

body {
  background-color: #6C5B7B;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.container {
  text-align: center;
  margin-bottom: 10px;
}

.form__input, #button {
  margin: 15px;
  background-color: #F8B195;
  color: #355C7D;
  border-radius: 7px;
  padding: 7px;
}

.container_two {
    text-align: center;
    background-color: #355C7D;
    padding: 20px;
}

img {
  width: 350px;
  border-radius: 7px;
  border: solid white 1px;
}

.list__item {
  list-style-type: none;
  padding: 7px;
}

.hot_salmon {
  color: #F67280;
}

.box {
  background-color: #F8B195;
  border-radius: 7px;
  width: auto;
}

#firework {
  background-image: url('../img/firework.gif');
  background-repeat: no-repeat;
}
